<div class="page-header">
	<h1>Hello, <%= @user.first_name %> <%=@user.last_name %></h1>
</div>

<p>There is an error with your transcript upload.  Please correct or remove below files.</p>
<p>Failed Entries (if any): <%= @user.failed_entries %><p>
<p>Have a great day!</p>
