<h1>Watson NLP pilot project</h1>
<p>Enter text to be analysed below:</p>


<% @entries.each do |e| %>
	<%= e.first_name %>
	<%= e.last_name %>
	<%= e.input %>
	<br>
<% end %>

<%= link_to 'Create new entry here', new_entry_path %>
