<div class="jumbotron">
	<h1 style='color:white'>Behavioral Finance<br>
		<small>Executive Personality Analysis</small></h1>
  <p style='color:white'>This application utilizes the IBM Watson's linguistic analytic algorithm to infer cognitive and social characteristics, including Big Five, Values, and Needs, from the quarterly earnings call transcript of publically traded companies. By deriving cognitive and social preferences, the service helps users to understand the managers of these companies at a more personalized level.</p>
	<br>
	<br>
	<%= link_to 'Enter', entries_path, method: :get, :class => 'col-md-offset-4 col-md-4 btn btn-default btn-lg' %>
	<br>
	<br>
	<br>
	<br>
</div>