<div class="jumbotron">
	<h1 style='color:white'>Watson NLP pilot project <br>
		<small>Personality insight v1.0</small></h1>
  <p style='color:white'>This project utilizes the IBM Watson's linguistic analytic algorithm to infer cognitive and social characteristics, including Big Five, Values, and Needs, from the quarterly earnings call transcript of publically traded companies. By deriving cognitive and social preferences, the service helps users to understand the managers of these companies at a more personalized level.</p>
  <br>
  <p><%= button_to 'Try Demo', entries_path, method: :get, :class => 'btn btn-primary btn-lg' %></p>
  <p>Hello world</p>
</div>