<h1>Watson NLP pilot project</h1>
<p>Enter text to be analysed below:</p>

<%= form_tag entry_index_path do %>
	<%= label_tag :input %> <br>
	<%= text_area_tag :input %> <br>
	<%= submit_tag "Go Analyse", :id=>"submitButton" %>
<% end %>
<%#= link_to 'Create new entry here', new_entry_path %>
