<div class="page-header">
	<h1>Login</h1>
</div>

<%= render 'form' %>

<div class='row'></div>
<br>
<br>
<!-- <div class = 'row'></div> -->
<!-- <div class = 'well'> -->
<div class="page-header">
	<h1>Forgot Password?</h1>
</div>
<%= render 'forgot_password_form' %>
<!-- </div> -->
